---
import PageLayout from "../layouts/Page.astro";
---

<PageLayout title={`404`} description={`It's probably you, not me.`}>
	<header class="prose prose-flexoki dark:prose-invert prose-headings:text-xl prose-headings:font-normal prose-lead:text-base">
		<h1>404</h1>
		<p class="lead">Hey, let's face it – it's definitely not me, it's most likely you! No doubt about it, you're the troublemaker here!</p>
	</header>
</PageLayout>
