---
import PageLayout from "../layouts/Page.astro";
import { Image } from "astro:assets";
import myImage from "../assets/flo-and-j.jpg";
---

<PageLayout
  title={`About`}
  description={`I'm Florian and I'm sharing thoughts, experiences, and advice on technology, home automation, and family life.`}
>
  <header
    class="prose prose-flexoki dark:prose-invert prose-headings:text-xl prose-headings:font-medium prose-lead:text-base"
  >
    <h1>A brief introduction</h1>
    <Image
      src={myImage}
      alt="My son and I, both wearing orange hats and with his face obscured by an emoji, sit together in a forest. He is on my lap, and we are surrounded by trees"
      class="max-w-sm"
      loading="eager"
    />
    <p>
      My name is Florian Gächter and I'm the creator of this blog. I started
      this blog to share things I've come across, that I think might help other
      people.
    </p>
    <p>
      I have always been interested in technology and I have been a developer
      for around 17 years.
    </p>
    <p>
      In my free time, I enjoy the outdoors and spending time with my family.
      I'm also really into home automation. Mainly because I'm lazy and hate
      manually turning lights on and off…
    </p>
    <p>
      On this blog, you'll find a collection of my thoughts, experiences, and
      advice on things relating to my interests. I hope you find my posts
      informative, inspiring, and enjoyable. Thanks for reading!
    </p>
    <p>
      If you have any questions, don't hesitate to <span
        class="font-medium underline cursor-pointer"
        title="flo@<the domain name of this website>">reach out to me</span
      >.
    </p>
  </header>
</PageLayout>
