---
import PageLayout from "../layouts/Page.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<PageLayout
  title={`Home`}
  description={`Developer Advocate at Frontify sharing tips, tricks, and learnings about technology and software development. Based in Switzerland.`}
>
  <header
    class="prose prose-flexoki dark:prose-invert prose-headings:text-xl prose-headings:font-medium prose-lead:text-base pb-16"
  >
    <h1>Hello, I'm Flo.</h1>
    <p class="max-w-md">
      I'm a Developer Advocate at Frontify, based in Switzerland. On this blog,
      I'll be sharing my journey, tips and tricks, and everything I've learned
      about things I've come across.
    </p>
  </header>
  <ul class="divide-y divide-base-100 dark:divide-base-900 max-w-prose">
    {
      posts.map((post) => (
        <li class="flex justify-between py-2">
          <a href={`/posts/${post.id}`} class="pr-4">
            {post.data.title}
          </a>
          <div class="text-right">
            <FormattedDate pubDate={post.data.pubDate} />
          </div>
        </li>
      ))
    }
  </ul>
</PageLayout>
