---
interface Props {
  pubDate: Date;
  modDate?: Date;
}

const { pubDate, modDate } = Astro.props;
---

<time class="text-base-600 dark:text-base-500" datetime={pubDate.toISOString()}>
  {
    pubDate.toLocaleDateString("en-us", {
      year: "numeric",
      month: "short",
      day: "numeric",
    })
  }
</time>
{
  modDate && (
    <span class="text-base-300 dark:text-base-700">
      / Updated:{" "}
      <time datetime={modDate.toISOString()}>
        {modDate.toLocaleDateString("en-us", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })}
      </time>
    </span>
  )
}
