---
import "@fontsource/inter/variable.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import {
	BackgroundImage,
} from "astro-imagetools/components";

export interface Props {
	description: string;
	title: string;
}

const { description, title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="theme-color" content="78716c" />
		<title>{title} | Florian Gächter</title>
		<style>
			body {
				font-feature-settings: "frac" 1;
			}
		</style>
	</head>
	<body
		class="font-sans leading-normal text-gray-800"
		x-data="{ showMobileNav: false }"
	>
		<BackgroundImage src="/lake.jpg">
			<div class="px-4 sm:px-10">
				<Navigation />
				<div class="max-w-5xl mx-auto relative py-16 lg:pt-40 lg:pb-32">
					<slot />
				</div>
				<Footer />
			</div>
		</BackgroundImage>
	</body>
</html>
