---
import "@fontsource/inter/variable.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import {
	BackgroundImage,
} from "astro-imagetools/components";

export interface Props {
	description: string;
	title: string;
	keywords: string[];
}

const { description, title, keywords } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, viewport-fit=cover" />

		<link rel="icon" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="theme-color" content="f6f7fb" />
		<meta name="keywords" content={keywords.join(', ')}>
		<script type="application/ld+json" set:html={JSON.stringify({
			"@context": "https://schema.org/",
			"@type": "Person",
			"name": "Florian Gächter",
			"url": "https://www.floriangaechter.com/",
			"image": "https://www.floriangaechter.com/floriangaechter.jpg",
			"sameAs": [
				"https://twitter.com/neither1nor0",
				"https://www.linkedin.com/in/florian-g%C3%A4chter-39b013188/",
				"https://github.com/floriangaechter"
			],
			"jobTitle": "Developer Advocate",
			"worksFor": {
				"@type": "Organization",
				"name": "Frontify"
			}
		})} />
		<title>{title} | Florian Gächter</title>
		<style>
			body {
				font-feature-settings: "frac" 1;
			}
		</style>
	</head>
	<body
		class="font-sans leading-normal text-gray-800"
		x-data="{ showMobileNav: false }"
	>
		<BackgroundImage src="/lake.jpg">
			<div class="px-4 sm:px-10">
				<Navigation />
				<div class="max-w-5xl mx-auto relative py-16 lg:pt-40 lg:pb-32">
					<slot />
				</div>
				<Footer />
			</div>
		</BackgroundImage>
	</body>
</html>
