---
import { format, formatDistance } from "date-fns";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
const { slug } = Astro.params;
---

<BaseLayout
	title={frontmatter.title}
	description={frontmatter.description}
	type="article"
	ogImage={`og-image/${slug}.png`}
>
	<main class="my-12 prose prose-flexoki dark:prose-invert">
		<div class="uppercase text-base-600 dark:text-base-500 text-sm mb-2">
			<time
				title={`Published on ${format(
					new Date(frontmatter.pubDate),
					"MM/dd/yyyy",
				)}`}
				datetime={new Date(frontmatter.pubDate).toString()}
				>Published {formatDistance(new Date(), new Date(frontmatter.pubDate))}
				ago</time
			><br />
			{
				frontmatter.modDate > frontmatter.pubDate && (
					<time
						title={`Updated on ${format(
							new Date(frontmatter.modDate),
							"MM/dd/yyyy",
						)}`}
						datetime={new Date(frontmatter.modDate).toString()}
					>
						Updated {formatDistance(new Date(), new Date(frontmatter.modDate))}{" "}
						ago
					</time>
				)
			}
		</div>
		<slot />
	</main>
</BaseLayout>
